@model IEnumerable<Sale>

<h1 class="display-4">Sales</h1>

<table class="table table-hover container">
	<thead>
	<tr>
		<th>#</th>
		<th>Discount</th>
		<th>Candy</th>
		<th>Start</th>
		<th>End</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var sale in Model)
	{
		<tr class="@(!sale.IsActive ? "table-secondary" : "")">
			<th>
				@sale.SaleID
			</th>
			<td>
				@sale.Discount%
			</td>
			<td>
				@sale.Candy.Count
			</td>
			<td>
				@sale.StartDate.ToShortDateString()
			</td>
			<td>
				@sale.EndDate.ToShortDateString()
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@sale.SaleID">Edit</a>
				<a asp-action="Remove" asp-route-id="@sale.SaleID">Remove</a>
			</td>
		</tr>
	}
	</tbody>
	<partial name="Create" model="new Sale()"/>
</table>