@model IEnumerable<Candy>

<h1 class="display-4">Stock</h1>

<table class="table table-hover container">
	<thead>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Category</th>
		<th>Description</th>
		<th>Price</th>
		<th>Sale</th>
		<th>In Stock</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var candy in Model)
	{
		<tr class="@(candy.Stock <= 0 ? "table-secondary" : "")">
			<th>
				@candy.CandyID
			</th>
			<td>
				@candy.Name
			</td>
			<td>
				@candy.Category?.Name
			</td>
			<td>
				@candy.Description
			</td>
			<td class="@(candy.ActiveSale is not null ? "text-success" : "")">
				@candy.ActivePrice.ToString("c")
			</td>
			<td>
				@(candy.ActiveSale?.Discount is not null ? $"{candy.ActiveSale.Discount}%" : "")
			</td>
			<td>
				@candy.Stock
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@candy.CandyID">Edit</a>
				<a asp-action="Remove" asp-route-id="@candy.CandyID">Remove</a>
			</td>
		</tr>
	}
	</tbody>
	<partial name="Create" model="new Candy()"/>
</table>