@model Candy  

<div class="col-sm-4 col-lg-4 col-md-4">
	<div class="thumbnail">
		<img src="@Model.ImageThumbnailURL" alt="Candy"/>
		<div class="caption">
			@if (Model.ActiveSale is not null)
			{
				<h5 class="pull-right text-danger"><s>@(Model.Price.ToString("c"))</s></h5>
			}
			<h3 class="pull-right @(Model.ActiveSale is not null ? "text-success" : "")">@(Model.ActivePrice.ToString("c"))</h3>
			<h3><a asp-controller="Candy" asp-action="Details" asp-route-candyID="@Model.CandyID">@Model.Name</a></h3>
			<p>@Model.Description</p>
		</div>
		<div class="addToCart">
			<p class="button">
				<a class="btn btn-primary"
				   asp-controller="ShoppingCart"
				   asp-action="AddToShoppingCart"
				   asp-route-candyID="@Model.CandyID">Add to Cart</a>
			</p>
		</div>
	</div>
</div>